<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="BusTicketingConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\VinCenT Tan\Documents\Visual Studio 2012\Projects\Assignment1\Assignment1.Web\App_Data\BusTicketing.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DriverSoap" />
                <binding name="BusServiceSoap" />
                <binding name="ScheduleSoap" />
                <binding name="Report1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55501/BusForm/Driver.asmx"
                binding="basicHttpBinding" bindingConfiguration="DriverSoap"
                contract="DriverFunction.DriverSoap" name="DriverSoap" />
            <endpoint address="http://localhost:55501/BusForm/BusService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BusServiceSoap"
                contract="BusReference.BusServiceSoap" name="BusServiceSoap" />
            <endpoint address="http://localhost:55501/Schedule/Schedule.asmx"
                binding="basicHttpBinding" bindingConfiguration="ScheduleSoap"
                contract="ScheduleReference.ScheduleSoap" name="ScheduleSoap" />
            <endpoint address="http://localhost:55501/Report.asmx" binding="basicHttpBinding"
                bindingConfiguration="Report1Soap" contract="ReportReference.Report1Soap"
                name="Report1Soap" />
        </client>
    </system.serviceModel>
</configuration>
